<phpunit backupGlobals="true" backupStaticAttributes="false"
	cacheTokens="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	bootstrap="../autoload.php"
	forceCoversAnnotation="false"
	mapTestClassNameToCoveredClassName="false"
	printerClass="PHPUnit_TextUI_ResultPrinter"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
	strict="false"
	verbose="true"
	timeoutForSmallTests="5"
    timeoutForMediumTests="10"
    timeoutForLargeTests="20">
	<testsuites>
        <testsuite name="AllTests">
            <directory>./</directory>
        </testsuite>
    </testsuites>

	<logging>
		<log type="coverage-html" target="./log/report" charset="UTF-8"
			yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
		<log type="testdox" target="./log/testdox.html" />
	</logging>
</phpunit>
