# Igonores all hidden files, but itself
.!gitignore!

# Eclipse
.buildpath
.project
.settings/

# Documentation 
docs/

# Test assets and logging
test/assets/
test/log/

# UML Project
project/

/vendor/
.*/
